            body{
                background-color: lightcyan;
            }
            
            
            #dv1{
                background-color: lightcyan;
                border-right: 2px black solid;
            }
            #dv2{
                background-color: lightblue;

            }
            #dv4{
                background-color: lavenderblush;
                border: 1px black solid;
            }
            #dv5{
                background-color: lightpink;
                border: 1px black solid;
            }
            #dv6{
                background-color: lightgoldenrodyellow;
                border: 1px black solid;
            }
            #dv7{
                border: 1px black solid;
            }
            
            .btn{
                border: solid 3px black;
                padding: 5px 20px;
                margin-right: 10px;
            }
            a{
                text-decoration: none;
            }
            #m1{
                width: 50%;
                height: auto;
                border: 2px whitesmoke solid;
                padding: 1px;
                border-radius: 50%;
            }
            #m2{
                width: 25px;
            }
            #staricon{
                width: 20px;
            }
            #skill{
                width: 35px;
            }
            

